button {
  height: 210px;
  width: 210px;
  background-color: #df0ab1ef;
  border: 3px solid rgb(0, 0, 0);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}

.result {
  font-size: 50px;
}
